<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="language" value="none" />

    <add key="mode"       value="PWD" />
    <add key="ipaddress"  value="192.168.22.130" />
    <add key="port"       value="22" />
    <add key="username"   value="toolbox" />
    <add key="password"   value="t5mfxj4Cyb5tWP8oUZlobtdGhPQZPTwm9UTeyxvf+NvROIHrmSSuS3p722zlpdVXAPuuUGmp+xY67rwIb8hycd13ophxL8lm4fToCahxOLv0rHHcBc6qIp9giXcaGKys" />
    <add key="server"     value="*" />
    
  </appSettings>
</configuration>

